@media print {
  body {
    background-color: $light-color !important;
    color: $dark-color !important;
    font-family: serif;
    font-size: 12pt;
    margin: auto !important;
    width: auto !important;
  }

  header {
    display: none !important;
  }

  footer {
    display: none !important;
  }

  img,
  table {
    page-break-inside: avoid;
  }

  .print-hide {
    display: none !important;
  }

  .column {
    width: 100% !important;
  }
}
